In [ ]:
You are given the following information, but you may prefer to do some research for yourself.

1 Jan 1900 was a Monday.
Thirty days has September,
April, June and November.
All the rest have thirty-one,
Saving February alone,
Which has twenty-eight, rain or shine.
And on leap years, twenty-nine.
A leap year occurs on any year evenly divisible by 4, but not on a century unless it is divisible by 400.
How many Sundays fell on the first of the month during the twentieth century (1 Jan 1901 to 31 Dec 2000)?

In [5]:
def is_leap_year(year):
    if year%400==0:
        return True
    elif year%1000==0:
        return False
    elif year%4==0:
        return True
    else:
        return False

True

In [28]:
#check that 1900 is leap year or not
leap=is_leap_year(1900)

#52 weeks a year 
#check which day it is on 1 Jan 1901
start_month_day=1+366%7
count=0

for year in range (1901, 2001):
    if is_leap_year(year):
        month_day=[31,29,31,30,31,30,31,31,30,31,30,31]
    else:
        month_day=[31,28,31,30,31,30,31,31,30,31,30,31]
    
    #print ('year {} => {}'.format(year, is_leap_year(year)))
    for month in range (12):
        start_month_day=(start_month_day+month_day[month]%7)%7
        #print (year, month+1, start_month_day)
        if start_month_day==0:
            count+=1

#1 Jan 2001 should not be counted
if start_month_day==0:
    count-=1
print (count)

171

In [24]:
31%7

3